html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  @media (min-width: 980px) {
    font-size: 16px;
  }
}

/* This applies to a specific element */
.watch-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(195, 113, 246, 0.7) transparent !important;
}

/* For Webkit browsers (Chrome, Safari) */
html::-webkit-scrollbar,
div::-webkit-scrollbar,
.watch-list::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track,
div::-webkit-scrollbar-track .watch-list::-webkit-scrollbar-track {
  background: transparent;
  background: #554b4c;
}

html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 3px solid transparent;
}

.watch-list::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: rgba(146, 59, 227, 0.7);
  border-radius: 20px;
  border: 3px solid transparent;
}

.notistack-Snackbar {
  & .alert {
    color: #fff;
    &.success {
      background-color: #a020f0;
    }
    &.error {
      background-color: #ffb6c1;
    }
    &.warning {
      background-color: #ffd500;
    }
  }
}

.MuiInputLabel-asterisk {
  color: #ff0000;
}

.asset-chart {
  .highcharts-figure,
  .highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
  }

  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }

  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }

  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }

  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
    padding: 0.5em;
  }

  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }

  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }

  input[type='number'] {
    min-width: 50px;
  }

  .highcharts-background {
    fill: #fff;
  }
}
