html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  @media (min-width: 980px) {
    font-size: 16px;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* This applies to a specific element */
.watch-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(195, 113, 246, 0.7) transparent !important;
}

/* For Webkit browsers (Chrome, Safari) */
html::-webkit-scrollbar,
.watch-list::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track,
.watch-list::-webkit-scrollbar-track {
  background: transparent;
  background: #554b4c;
}

html::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 3px solid transparent;
}

.watch-list::-webkit-scrollbar-thumb {
  background-color: rgba(146, 59, 227, 0.7);
  border-radius: 20px;
  border: 3px solid transparent;
}

.notistack-Snackbar {
  & .alert {
    color: #fff;
    &.success {
      background-color: #a020f0;
    }
    &.error {
      background-color: #ffb6c1;
    }
    &.warning {
      background-color: #ffd500;
    }
  }
}

.MuiInputLabel-asterisk {
  color: #ff0000;
}
